.bg-image-BVisa {
    background-image: url('./images/2177458.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    
  }
  
  .bg-text {
    background-color: rgba(51, 51, 51, 0.8); /* Set background color with transparency */
    overflow-x: hidden; /* Hide overflow content */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    text-align: left;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-35%, -20%);
    color: beige;
    padding: 40px;
    width: 750px;
    border-radius: 12px;
  }

  .bg-text h1, h2 {
    text-align: center;
  }

  .content-container {
    display: flex;
    align-items: start;
    align-content: space-between;
    text-align: left;
  }

  .text-container{
    margin-left: 30px;
    margin-top: 30px;
    line-height: 18px;
    font-size: 13.6px;
  }

  .image-container img {
    width: 300px;
    margin-top: 30px;
  }

  .image-container p {
    text-align: center;
  }

  .to-do-list {
    margin-top: 10px;
    line-height: 30px;
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    width: 550px;
  }